.share-page {
  text-align: center;
  background-color: #D2D5D6;
  padding: 8px inherit;
  border-radius: 5px;
  margin: 30px 0;
}
.share-page a {
  font-weight: 700;
  margin-left: 10px;
}
.share-page a :hover {
  border-bottom: 1px dashed #000000;
}
