.share-page {
  text-align: center;
  background-color: #FFF5BF;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 30px inherit;
}
.share-page a {
  font-weight: 700;
  margin-left: 10px;
}
.share-page a :hover {
  border-bottom: 1px dashed #000000;
}
